<div class="container mt-5">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        @for (product of products; track product.title; let i = $index) {
        <div class="col">
            <div class="card h-100">
                <img [src]="product.thumbnail" alt="{{ product.title }}" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{ product.title }}</h5>
                    <p class="card-text">{{ product.price }} €</p>
                </div>
                <div class="card-footer">
                    <a (click)="viewProductDetails(product.id)" class="btn btn-primary">More detail</a>
                </div>
            </div>
        </div>
        }
    </div>
</div>