<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <ul class="navbar-nav">
            @for(action of actions; track action) {
            <li>
                <button (click)="setCurrentAction(action)" [class]="
                        action == currentAction?'btn btn-light ms-1' : 'btn btn-outline-light ms-1'"
                    routerLink="{{action.route}}">
                    {{action.title}} <i class="bi bi-{{ action.icon }}"></i>
                </button>
            </li>
            }
            @if(loadingService.isLoading$ | async) {
            <li>
                <button class="btn btn-primary">
                    <span class="spinner-border spinner-border-sm"></span>
                    Loading..
                </button>
            </li>
            }
        </ul>
    </div>

    <ul class="nav navbar-nav navbar-right">
        @if(isLoggedIn$ | async){
        <li class="nav-item">
            <button class="btn btn-outline-danger ms-1" (click)="logout()">
                <i class="bi bi-arrow-right-square"></i>
            </button>
        </li>
        } @else {
        <li class="nav-item">
            <button type="button" class="btn btn-primary ms-1" routerLink="/login">
                Login
            </button>
        </li>
        }
    </ul>
</nav>